.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.brand-card{
  margin: 30px;
  border: 2px solid rgb(161, 156, 156);
  /* border-color: #161818; */
}

.style-card{
  margin: 30px;
  border: 2px solid rgb(161, 156, 156);
  /* border-color: #161818; */
}

.style-img{
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}



/* PROFILE PAGE */
.brand-img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* PORTFOLIO */

.portfolio-container {
  /* width: 160px; */
  height: 50%;
  padding: 20px;
  border: 2px solid rgb(161, 156, 156);
  background: rgb(255, 255, 255); 
}

.portfolio-header{
  text-align: left;
  padding-bottom: 4px;
  /* padding-right: 30%; */
}

 /* PORTFOLIO CARD */

.portfolio-card-container{
  padding: 3%;
  margin: 1%;
  border: 2px solid rgb(250, 245, 245); ;
}

.portfolio-card-containe p{
  text-align: left;
}

.portfolio-name{
  text-align: left;
}

/* BUTTONS */
.btn{
  /* display: flex; */
  text-align: center;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0 12px;
  line-height: 20px;
  height: 30px;
  max-height: 30px;
  background: #566AE5;
  font-weight: 700;
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow;
  transition-duration: 150ms;
}
/* .navbar-container{
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  box-sizing: border-box;
  overflow: hidden;
}

.nav-btn{
  flex: 1;
  text-align: right;
}
.nav-btn-container{
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-bar-icons{
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* .btn{
  color: #fff;
  padding: 12px 24px;
  background-image: linear-gradient(45deg,#5651e5, #709dff);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: .4s;
  cursor: pointer;
}

.btn :active{
  transform: translate(4px);
  box-shadow: 0px 0px 1px rgba(0,0,0,0,.2);
  border-bottom: none;
} */