.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white
}

/* PAGES */


/* FORMS  */
.forms{
  /* border: 4px solid black; */
  text-align: center;
  margin: 15px;

}

.form-inputs {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid gold;
  /* border: 1px solid rgba(10, 180, 180, 1); */
  border-top: none;
  border-left: none;
  border-right: none;
  color: black;
  outline: none;
}

#category-form{
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  color: black;
  outline: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
}


.add-style-btn{
  padding-top: 35px;
}
.form-label{
  text-align: center;
}

/* CARDS */

.brand-card{
  margin: 30px;
  border: 2px solid rgb(161, 156, 156);

}

.piece-card{
  margin: 30px;
  border: 2px solid rgb(161, 156, 156);

}

.cards{
  margin: 30px;
  /* padding: 40px; */
  /* border: 5px solid rgb(161, 156, 156); */
  /* border: 4px solid black; */
}

.card-name{
 font-family: 'Classy Vogue', sans-serif;
 padding: 10px
 
}

.card-img{
   padding: 10px
}

.card-description{
  padding: 10px;
  display: inline-block;
  font-family: 'Classy Vogue', sans-serif;
  font-size: larger;
}

.card-description-header{
   /* display: inline-block; */
   padding: 10px;
   font-family: 'Classy Vogue', sans-serif;
   font-weight: 1000;

}
.card-container{
  margin: 30px;
  border: 4px solid black;
  background-color: rgb(251, 246, 246);

}

.display-styles-container{
  /* display: flex;
  flex-direction: row; */
  
}

/* IMG */

.brand-img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.piece-img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.style-img{
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
} 

/* HEADERS */

.pages-header{
  font-family: 'Classy Vogue', sans-serif;
  font-weight: 1000;
  font-size: 50px;
  color: black
}

/* BUTTONS */
.btn{
  /* display: flex; */
  text-align: center;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  padding: 0 12px;
  line-height: 20px;
  height: 30px;
  max-height: 30px;
  background: rgb(33, 29, 29);
  font-family: 'Classy Vogue', sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow;
  transition-duration: 150ms;
}

#add-styles-btn{
  margin: 15px;
}

#my-styles-btn{
  margin: 15px;
}

#add-brand-btn{
  margin: 15px;
}

#my-brand-btn{
  margin: 15px;
}
